# Entornos virtuales (por ejemplo, virtualenv, pyenv, etc.)
venv/
env/

# Archivos de configuración local (por ejemplo, settings.py personalizados)
*/settings_local.py

# Archivos de registro y caché
*.log
__pycache__/
*.pyc

# Archivos generados por el sistema
*.db
*.sqlite3
*.pyc
*.pyo
__pycache__/
*.swp
*~

# Archivos de dependencias
/.idea
/.vscode
/.vs
*.bak
*.swp
*.swo

# Archivos de entorno
.env

# Archivos de migraciones de Django
*/migrations/
